<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <style>
      .centered-image {
        display: block; /* Make the image a block element */
        margin-left: auto; /* Center horizontally */
        margin-right: auto; /* Center horizontally */
        max-width: 100%; /* Responsive image */
        height: auto; /* Maintain aspect ratio */
      }
    </style>
  </head>
  <body>
    <main class="container mt-4">
      <div class="card">
        <div class="card-body">
          <img
            class="centered-image"
            src="banner-about.jpg"
            alt="About Banner"
          />
          <br />
          <h4 class="card-title">Tentang Perpustakaan Digital ENOJ</h4>
          <br />
          <p class="card-text">
            ENOJ, sebuah perpustakaan digital yang inovatif dan modern,
            dirancang secara khusus untuk mempermudah akses ke berbagai koleksi
            buku, jurnal, dan artikel ilmiah yang mencakup beragam disiplin
            ilmu, mulai dari sains, teknologi, hingga seni dan humaniora.
            Perpustakaan ini tidak hanya menawarkan antarmuka yang ramah
            pengguna, tetapi juga dilengkapi dengan fitur pencarian canggih yang
            memungkinkan pengguna untuk menemukan informasi yang mereka butuhkan
            dengan cepat dan efisien. Dengan demikian, ENOJ berkomitmen untuk
            mendukung kebutuhan belajar, penelitian, serta pengembangan ilmu
            pengetahuan bagi pelajar, akademisi, dan masyarakat umum, sehingga
            mereka dapat mengakses sumber daya yang berkualitas tinggi dan
            relevan untuk meningkatkan pengetahuan dan keterampilan mereka.
          </p>
          <br />
          <p class="card-text">
            Kami berdedikasi untuk memberikan pelayanan terbaik.
          </p>
          <br />
          <p><strong>&copy; 2024 Perpustakaan Digital ENOJ</strong></p>
        </div>
      </div>
    </main>
  </body>
</html>
