<div class="container mt-4">
  <h2 class="text-center">Daftar Peminjaman Buku</h2>

  <div class="d-flex justify-content-center mt-4" *ngIf="isLoading">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <button
    type="button"
    class="btn btn-primary mb-3"
    data-bs-toggle="modal"
    data-bs-target="#tambahPeminjamanModal"
  >
    Tambah Peminjaman
  </button>
  <div
    class="modal fade"
    id="tambahPeminjamanModal"
    tabindex="-1"
    aria-labelledby="tambahPeminjamanModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="tambahPeminjamanModalLabel">
            Tambah Peminjaman
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="peminjamanForm" (ngSubmit)="addPeminjaman()">
            <div class="mb-3">
              <label for="tanggalPinjam" class="form-label"
                >Tanggal Pinjam</label
              >
              <input
                id="tanggalPinjam"
                type="date"
                class="form-control"
                formControlName="tanggalPinjam"
              />
            </div>
            <div class="mb-3">
              <label for="tanggalKembali" class="form-label"
                >Tanggal Kembali</label
              >
              <input
                id="tanggalKembali"
                type="date"
                class="form-control"
                formControlName="tanggalKembali"
              />
            </div>
            <div class="mb-3">
              <label for="batasPinjam" class="form-label">Batas Pinjam</label>
              <input
                id="batasPinjam"
                type="text"
                class="form-control"
                formControlName="batasPinjam"
              />
            </div>
            <div class="mb-3">
              <label for="buku_id" class="form-label">Nama Buku</label>
              <select
                id="buku_id"
                class="form-select"
                formControlName="buku_id"
              >
                <option *ngFor="let item of buku" [value]="item._id">
                  {{ item.nama }}
                </option>
              </select>
            </div>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="isSubmitting"
            >
              {{ isSubmitting ? "Menyimpan..." : "Tambah Peminjaman" }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="peminjaman.length > 0">
    <table class="table table-striped table-bordered">
      <thead class="table-primary">
        <tr>
          <th>No</th>
          <th>Tanggal Pinjaman</th>
          <th>Tanggal Kembalian</th>
          <th>Batas Pinjaman</th>
          <th>Nama Buku</th>
          <th>Aksi</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let item of peminjaman
              | paginate : { itemsPerPage: 5, currentPage: currentPage };
            let i = index
          "
        >
          <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
          <td>{{ item.tanggalPinjam }}</td>
          <td>{{ item.tanggalKembali }}</td>
          <td>{{ item.batasPinjam }}</td>
          <td>{{ item.buku_id?.nama }}</td>
          <td>
            <button
              type="button"
              class="btn btn-warning btn-sm me-2"
              (click)="getPeminjamanById(item._id)"
            >
              Edit
            </button>
            <button
              type="button"
              class="btn btn-danger btn-sm me-2"
              (click)="deletePeminjaman(item._id)"
            >
              Hapus
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination-controls
      (pageChange)="currentPage = $event"
    ></pagination-controls>
  </div>

  <div
    class="modal fade"
    id="editPeminjamanModal"
    tabindex="-1"
    aria-labelledby="editPeminjamanModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ubah Peminjaman</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="peminjamanForm" (ngSubmit)="updatePeminjaman()">
            <div class="mb-3">
              <label for="tanggalPinjam" class="form-label"
                >Tanggal Pinjam</label
              >
              <input
                id="tanggalPinjam"
                type="date"
                class="form-control"
                formControlName="tanggalPinjam"
              />
            </div>
            <div class="mb-3">
              <label for="tanggalKembali" class="form-label"
                >Tanggal Kembali</label
              >
              <input
                id="tanggalKembali"
                type="date"
                class="form-control"
                formControlName="tanggalKembali"
              />
            </div>
            <div class="mb-3">
              <label for="batasPinjam" class="form-label">Batas Pinjam</label>
              <input
                id="batasPinjam"
                type="text"
                class="form-control"
                formControlName="batasPinjam"
              />
            </div>
            <div class="mb-3">
              <label for="buku_id" class="form-label">Nama Buku</label>
              <select
                id="buku_id"
                class="form-select"
                formControlName="buku_id"
              >
                <option *ngFor="let item of buku" [value]="item._id">
                  {{ item.nama }}
                </option>
              </select>
            </div>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="isSubmitting"
            >
              {{ isSubmitting ? "Menyimpan..." : "Simpan Perubahan" }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
