<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Team ENOJ</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="isLoggedIn">
        <a
          class="nav-link"
          routerLink="/buku"
          routerLinkActive="active"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          Buku
        </a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a
          class="nav-link"
          routerLink="/peminjaman"
          routerLinkActive="active"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          Peminjaman
        </a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a
          class="nav-link"
          routerLink="/anggota"
          routerLinkActive="active"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          Anggota
        </a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a
          class="nav-link"
          routerLink="/denda"
          routerLinkActive="active"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          Denda
        </a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a
          class="nav-link"
          routerLink="/pengembalian"
          routerLinkActive="active"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          Pengembalian
        </a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a
          class="nav-link"
          routerLink="/auth"
          routerLinkActive="active"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          Login
        </a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a
          class="nav-link"
          (click)="onLogout()"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
        >
          Logout
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
